/* Create the blue navigation bar */
.navbar {
  background-color: #3b5998;
  font-size: 22px;
  padding: 5px 10px;
}

/* Define how each icon button should look like */
.button {
  color: white;
  background-color: #3b5998;
  font-size: 13px;
  display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  padding: 2px 5px; /* Add some padding so it looks nice */


}

/* Make the badge float in the top right corner of the button */
.button__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
 
  padding: 1px 3px;
  font-size: 10px;
  
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}

.navbar_text_size {
  font-size: 13px;
  
}

.navbar_pwd_size {
  font-size: 14px;
  
}

.navbar_text_color {
  color: white;
}

td{
  border: 0px solid black;
  
}










